html{
    font-size:75%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    width: 100%;
    height: 500px;
    border: 10px;
    padding: 20px 35px;
}

h1{
    color:black;
    font-size: 40px;
    text-align: center;
    text-transform:uppercases;
}
/* class */
.parrafo{
    color: black;
    font-size: 27px;
    text-decoration:underline;
}
/* id */
#texto{
    color: saddlebrown;
    text-decoration: none;
    font-size: 20px;
}
.fondo{
background-color:#8f9696
}
.img1{
    width: 400px;;
    border-radius: 20%;
}
.vid1{
    border-radius: 15%;
    border-style: groove;
}
#mainnav{
    margin-top: 10px;
    list-style-type: none;
    padding-left: 0;
}
#main-nav li{
    display: inline-block;
    }
    #main-nav a{
        color: white;
        background-color: #13a4a4;
        padding: 5px;
        border-radius: 20px;
        text-decoration: none;
    }