.title-nav{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main-nav{
    margin-top: 10px;
    padding-left: 0;
    color: white;
    background-color: #13a4a4;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
}
.main-nav li{
    text-align: center;
}
.main-nav a{
    text-decoration: none;
    color: black;
}
.h1{
    font-size: 50px;
    text-align: center;
}
.img{
    width: 600px;
    height: 400px;
    display:block;
    margin:auto;
}
